/* common shared style*/
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header related style*/
header{
    background-color: #FFF8F3;
   /* width: 100%;
    height: 100vh;*/

}
    .btn-primary{
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
        border-radius: 8px;
        background: #E55473;
        padding: 20px 43px;
        border: 0;
        margin-bottom: 20px;
    }    

.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 400px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    line-height: 30px;

}

.banner-photo{
    width: 635px;
    height: 800px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 150px;
    margin-bottom: 0px;
    display: flex;
}
    
.banner-contant{
    max-width: 500px;
    padding-top: 20px;
}
.banner{
    background-color: #FFF8F3; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: auto;


}

/* Our featured section-style */
.features{
    padding-top: 100px;
}
.section-title{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-family: lato;
    text-align: center
    
    
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.featured-photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
    margin-inline: 100px;
    padding-left: 33%;
    padding-right: 33%;
}
.featured-photo-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}
.featured-photo-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}
.featured-photo-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}
.img-1{
    width: 310px;
    height: 428px;
    padding: 110px 78px 67px 76px;
}
.img-2{
    width: 370px;
    height: 370px;
    padding: 117px 47px 118px 47px;
}
.img-3{
    width: 314px;
    height: 471px;
    padding: 67px 75px;
}
.flower-name{
    display: inline-flex;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    text-decoration-line: underline;
    padding-left: 33%;
    padding-top: 5px;
    margin-top: 5px;
    padding-bottom: 0;
}


/* discount section-style */
.discount-section{
    background-color: #e5547315;
    height: 440px;
    width: ;
    margin-inline: -8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
    padding-inline: 180px;
    margin-left: -500px;
    margin-right: -500px;
    margin-top: 200px;
    padding-top: 100px;
    padding-bottom: 100px;

}
.discount-img{
    width: 480px;
    height: 520px;
    margin-bottom: 0;
    padding-top: 200px;
    padding-bottom: 100px;
    padding-right: 150px;
    margin-bottom: 0px;
    display: flex;
}
.discount-title{
    color: #272727;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.btn{
    color: #FFF;
        font-size: 20px;
        font-weight: 500;
        border-radius: 8px;
        background: #E55473;
        padding: 15px 30px;
        border: 0;
        display: flex;
        justify-content: center;
        padding: 20px 43px;
        align-items: center;
        gap: 10px;
        margin-left: 33%;
}

#off{
    color: #E55473;
}

/* instagram section-style */
.instagram-title{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.insta-descrip{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    align-items: center;
}
.insta-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: ;
}
.instagram{
    margin-bottom: 200px;
}
/* latest deal section-style */
.latest-deal{
    background-image: url('Flower Asset/background.png');
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    width: 1440px;
    height: 449px;

   
}
.text-item{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 100px;
    margin-top: 100px;
}

.container{
    background:#FFF ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 33%;
    margin-right: 33%;
    border-radius: 8px;
    height: 60px;
    gap: 180px
}
from{
    background: ;
    width: 100px;
    height: 60px;
    justify-content: center;
    display: flex;
    align-items: center;
}
form input{
    flex: 1;
    border:none ;
    outline: none;
    max-width: 400px;
}
.submit{
    border-radius: 8px;
background: #E55473;
}



/* bonus section style */

.contact-us-section {
    text-align: center;
    background-color:#e5547315; 
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    }
  
  .contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .contact-form input,
  .contact-form textarea {
    display: block;
    border: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  
/* footer section style */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-block: 160px;
    padding-inline: 400px;
    margin-bottom: -8px;
    margin-inline: -8px;

}

